
<!-- Banner -->
<%- include('./partials/head') %>
<%- include('./partials/header') %>
<div class="banner">
  <!-- <img src="/images/Banner" alt="Banner de ofertas"> -->
</div>
<!-- /Banner -->

<!-- Novedades -->
<!-- /Novedades -->
<!-- Más comentados -->
<div class="container products-wrapper">
  <div class="row">
    <div class="col-12">
      <h2 class="products-title">Más comentados</h2>
    </div>
    <!-- Show the "ultimos" products -->
    <% for( let i = 0; i < productos.length; i++ ) { %>
      <div class="col-12 col-sm-6 col-lg-3">
        <section class="product-box">
          <a href="/id/:id">
            <figure class="product-box_image">
              <img src="<%= productos[i].imagen %>"alt="">
            </figure>
            <article class="product-box_data">
              <h2><%= productos[i].nombre %></h2>
              <p><%= productos[i].descripcion %> </p>
              <p>Comentarios: <%= comentarios.length %></p>
            </article>
          </a>
        </section>
      </div>
    <% } %>

  </div>
</div>
<%- include('./partials/footer') %>
