<%- include('./partials/head') %>
<%- include('./partials/header') %>
						<!-- product detail -->
						<div class="container products-wrapper">
							<div class="d-flex align-items-center">
								<h2 class="products-title">
									<%= productos.nombre %>
								</h2>
								<p class="product-detail-description">
									<a href="/camisetas/edit/<%= productos.id %>">Editar</a>
								</p>
							</div>
							<div class="product-detail">
								<div class="row">
									<article class="col-12 col-lg-8 product-detail-info">
										<img src='<%= productos.imagen %>' alt="."
											class="product-detail-img">
										<p class="product-detail-description">
											<%= productos.descripcion %>
										</p>
									</article>
									<div class="col-12 col-lg-4">
										<section class="comments">
											
											<% for( let i = 0; i < productos.comentarios.length; i++ ) { %>
												<article>
													<img src='<%= productos.comentarios[i].usuarios.foto_perfil %>' alt="">
													<div class="data">
														<p class="user">
														<strong> <a href="/users/profile/<%= productos.comentarios[i].usuarios.id %>"> <%= productos.comentarios[i].usuarios.usuario  %>:</a> </strong>
														<%= productos.comentarios[i].comentario %>	
													</p>
													</div>
												</article>
											<% } %>
										</section>
										<% if (locals.Usuario) { %>
											<form class="form" action="/camisetas/id/<%= productos.id %>" method="post">
												<input class="form-input" type="text" value=""
													placeholder="Agregar comentario" name="newComment">
												<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
											</form>
											<% } else { %>
												<h2>Debes iniciar session primero</h2>
												<a href="/users/login" class="buy-now-button"> Inicia Session </a>
												<a href="/users/register" class="buy-now-button"> Registrate </a>
										<% } %>
										
										<% if (locals.errors) { %>
											<p><%= locals.errors.mensaje %></p>
										   <% } %>
										<hr>
									</div>
								</div>
							</div>
						</div>
						<!-- /product detail -->

						<%- include('./partials/footer') %>
						