<%- include('./partials/head') %>
	
<% if (locals.user !=undefined) { %>
		<%- include('./partials/header_logueado') %>
			<% } else { %>
				<%- include('./partials/header') %>
					<% } %>
						<!-- product detail -->
						<div class="container products-wrapper">
							<div class="d-flex align-items-center">
								<h2 class="products-title">
									<%= productos.club %>
								</h2>
								<p class="product-detail-description">
									<a href="/camisetas/add">Editar</a>
								</p>
							</div>
							<div class="product-detail">
								<div class="row">
									<article class="col-12 col-lg-8 product-detail-info">
										<img src='<%= result.imagen %>' alt="."
											class="product-detail-img">
										<p class="product-detail-description">
											<%= result.descripcion %>
										</p>
									</article>
									<div class="col-12 col-lg-4">
										<section class="comments">
											<% for (let i =0; i < result.comentarios.length; i++) {%>
												<article>
													<img src=<%=result.[i].imagen %> alt="">
													<div class="data">
														<p class="user">
														<strong> <a href=""><%=result.comentarios[i].usuario_id %>: </a> </strong>
														 <%=result.comentarios[i].comentario %></p>
													</div>
												</article>
												<% } %>
										</section>
										<form class="form" action="/camisetas" method="get">
											<input class="form-input" type="text" value=""
												placeholder="Agregar comentario">
											<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
										</form>
										<hr>
									</div>
								</div>
							</div>
						</div>
						<!-- /product detail -->

						<%- include('./partials/footer') %>