
<%- include('./partials/head') %>
<%- include('./partials/header') %>
<div class="container products-wrapper">
    <div class="row">
        <div class="col-12">
            <h2 class="products-title"> Modificar producto</h2>

            <section>
                <form action="/camisetas/id/<%= productos.id %>" method="post">
                    <div>
                        <label> Foto del producto:</label>
                        <input type="text" id="imagen" name="imagen" value="<%= productos.imagen %>">
                        
                    </div>
                    
                    
                    <div>
                        <label >nombre del producto:</label>
                        <input type="text" name="product"value="<%= productos.nombre %>">
                    </div>
					<div>
                        <label >descripcion:</label>
                        <input type="text" name="descripcion"value="<%= productos.descripcion %>">
                    </div>
                    
                    <div>
                        <label >Fecha de carga:</label>
                        <input type="date" name="Fecha" value="<%= productos.updated_at %>">
                    </div>
					<div>
						<button type="submit"> Actualizar</button>
                    
					</div>
                </form>
            </section>
        </div>
       
        

        <%- include('./partials/footer') %>
       


	