<%- include('./partials/head') %>
<%- include('./partials/header') %>
<section class="info-usuario container products-wrapper">
    <div class="row">
        <div class="img-container offset-3 col-2">
            <img src="<%= usuarios.foto_perfil %>" alt= "Foto Perfil" class="foto-perfil">
        </div>
        <div class="data-container col-6">
            <div class="d-flex align-items-center ">
                <h1 class="main-title">
                    <a href="/users/profile-edit">
                        <i class="fas fa-cog"></i>
                    </a>
                </h1>
                <a class="btn mt-3 ml-4" href="">SEGUIR</a>
            </div>
            <div>
                <ul class="">
                    <li><%= usuarios.email %></li>
                    <li>8 productos</li>
                    <li>200 seguidores</li>
                    <li>300 comentarios</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- /Datos del usuario -->

<!-- Mis productos -->
<div class="container products-wrapper">
    <div class="row">
        <% if (usuarios.Products !== undefined) { %>
            <div class="col-12">
                <h2 class="products-title">Mis productos</h2>
                <% for( let i = 0; i < usuarios.Product.length; i++ ) { %>
                    <div class="col-12 col-sm-6 col-lg-3">
                      <section class="product-box">
                        <a href="/camisetas/id/<%= usuarios.Product[i].id %>">
                          <figure class="product-box_image">
                            <img src="<%= usuarios.Product[i].imagen %>"alt="">
                          </figure>
                          <article class="product-box_data">
                            <h2><%= usuarios.Product[i].nombre %></h2>
                            <p><%= usuarios.Product[i].descripcion %> </p>
                            <p>Usuario: <%= usuarios.usuario %></p>
                          </article>
                        </a>
                      </section>
                    </div>
                  <% } %>
              </div>
            <% } else { %>
                <div class="col-12">
                    <h2 class="products-title">Este usuario no tiene productos publicados</h2>
                </div>
        <% } %>
    </div>
</div>
    <%- include('./partials/footer') %>
        
       