<%- include('./partials/head') %>
<%- include('./partials/header_logueado') %>
	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"><%= camiseta[8].club %></h2> 
			<p class="product-detail-description">
				<a href="/data/product-add">Editar</a>
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="/images/Camisetas/Racing-Actual.jpg" alt="" class="product-detail-img">
					<p class="product-detail-description">
						<%= camiseta[8].descripcion %>
						</p>
				</article>
					<div class="col-12 col-lg-4" > 
					<section class="comments">
						<% for (let i =0; i <comentario.length; i++) {%>
						<article>
							<img src=<%=comentario[i].img_p %> alt="">
							<div class="data">
								<p class="user">
								<strong> <a href=""><%=comentario[i].nombre_u %>: </a> </strong>
								 <%=comentario[i].texto_c %></p>
							</div>
						</article>
						<% } %>
					</section>
					<form class="form" action="" method="POST">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<%- include('./partials/footer') %>